.window-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgreen);
}

.bg-form {
  max-height: fit-content;
}

.form-container {
  background-color: white;
  border-radius: 15px;
  color: var(--darkgreen);
  padding: 3rem;
  height: 100%;
}

.title-forms {
  font-size: 2rem;
  margin-bottom: 20px;
}

.title-welcome {
  color: white;
}

.forms-link {
  color: var(--almond);
}

.forms-logo {
  width: 50%;
}

.btn-forms {
  background-color: var(--mediumgreen);
  color: white;
}

.desktop-form-container {
  display: none;
}

@media (min-width: 768px) {
  .bg-form {
    display: flex;
    justify-content: center;
    max-width: 1000px;
  }

  .desktop-form-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../images/banner-img.png);
    background-size: cover;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 0 0 15px;
    flex: 1;
  }

  .form-container {
    border-radius: 0 15px 15px 0;
    flex: 1;
  }
}

@media (min-width: 992px) {
  .bg-form {
    display: flex;
    justify-content: center;
    max-width: 1000px;
  }

  .desktop-form-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../images/banner-img.png);
    background-size: cover;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 0 0 15px;
    flex: 1.5;
  }

  .form-container {
    border-radius: 0 15px 15px 0;
    flex: 1;
  }
}
