/* .card-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.37) 100%, rgba(29, 0, 0, 0.329) 100%),
    url(../images/home/photo-plants.png);
} */
.cards-container {
  display: flex;
  justify-content: space-between;
}
.home-section-2-cards {
  width: 23%;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.card-title {
  position: absolute;
  top: 15%;
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

.button-see-all {
  position: absolute;
  bottom: 5%;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: 12rem;
  font-size: 1.5rem;
}

@media (max-width: 399px) {
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }
  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
  }
  .card-title {
    font-size: 1.8rem;
  }

  .button-see-all {
    width: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .home-section-2-img,
  .home-section-3-img {
    width: 35%;
  }

  .home-section-2-box a {
    color: var(--lightgreen);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
  }
  .home-section-2-cards {
    width: 45%;
    padding-top: 4rem;
    flex-direction: column;
  }

  .card-title {
    font-size: 3rem;
  }

  .button-see-all {
    position: absolute;
    bottom: 5%;
    width: 11rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .home-section-2-box {
    width: 65%;
    padding-right: 2rem;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 35%;
  }

  .card-title {
    top: 18%;
    font-size: 3.1rem;
  }

  .button-see-all {
    bottom: 5%;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: 10rem;
    font-size: 1rem;
  }
}
