.home-banner {
  background-image: url(../public/assets/images/banner-img.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 4/1;
  font-size: 2.6rem;
  color: white;
}

.banner-container {
  max-height: 500px;
}

.banner-button {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  border-radius: 28px;
  border-color: white;
  font-size: 1rem;
  width: 16%;
  color: white;
}

.section-2 {
  height: 100vh;
}

@media (min-width: 350px) and (max-width: 576px) {
}

@media (min-width: 577px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}
