.home-banner {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.37) 100%, rgba(29, 0, 0, 0.329) 100%),
    url(../images/home-banner.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 4/1;
  color: white;
  max-height: 600px;
}

.home-banner-container {
  height: 100%;
}

.home-banner-container h1 {
  font-size: 3rem;
}
.home-banner-container p {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 15px;
  width: 75%;
}

.home-banner-button {
  background-color: var(--capuccino);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  font-size: 1rem;
  width: fit-content;
  text-decoration: none;
  color: var(--terracotta);
  text-align: center;
  margin-top: 10px;
  padding: 6px 15px;
  font-weight: 500;
}

.home-banner-button:hover {
  background-color: var(--terracotta);
  color: white;
}

.happiness {
  margin-top: -1.3rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.home-section-2-cards {
  flex: 1;
  margin: 1rem;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
}

.card-title {
  position: relative;
  bottom: 70%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.button-see-all {
  position: relative;
  bottom: 30%;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-radius: 10%;
  backdrop-filter: blur(2px);
  width: 9rem;
}

.home-section-2-box {
  width: 65%;
  padding-right: 3rem;
}

.home-section-2-box a {
  color: var(--lightgreen);
  font-size: 1.4rem;
}

.home-section-2-link:hover {
  color: var(--mediumgreen);
  transform-origin: left;
  transform: scale(1.1);
  transition: 0.3;
}

.home-section-2-img img,
.home-section-3-img img {
  height: 100%;
}

.home-section-2-box h4,
.home-section-3-box h4 {
  color: var(--mediumgreen);
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.home-section-2-box p,
.home-section-3-box p {
  color: var(--darkgreen);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.home-section-2-plants,
.home-section-3-care-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-section-3-box {
  width: 65%;
  padding-left: 3rem;
}

.home-section-2-img,
.home-section-3-img {
  width: 35%;
}

.home-care-product {
  width: 30%;
  position: relative;
}

.home-care-product img {
  box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.home-care-product .span-start {
  position: absolute;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  color: var(--mediumgreen);
  font-family: "Galadali Regular";
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
}

.home-care-product .span-end {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 2px;
  padding-right: 5px;
  color: var(--mediumgreen);
  font-family: "Proxima Nova Light";
  font-weight: bold;
  font-style: normal;
}

@media (max-width: 399px) {
  .home-banner-container h1 {
    font-size: 1.9rem;
  }

  .home-banner-container p {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    width: 90%;
  }

  .home-banner-button {
    font-size: 0.6rem;
    padding: 3px 11px;
    align-self: center;
  }

  .home-banner {
    text-align: center;
    aspect-ratio: 4/3;
  }
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }
  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .home-banner-container h1 {
    font-size: 1.9rem;
  }
  .home-banner-container p {
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    width: 90%;
  }

  .home-banner-button {
    font-size: 0.6rem;
    padding: 3px 11px;
    align-self: center;
  }
  .home-banner {
    text-align: center;
    aspect-ratio: 4/2;
  }
  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }
  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }

  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .home-banner-container h1 {
    font-size: 2.6rem;
  }

  .home-banner-container p {
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    width: 90%;
  }

  .home-banner-button {
    font-size: 0.9rem;
    padding: 4px 12px;
    align-self: center;
  }
  .home-banner {
    text-align: center;
    aspect-ratio: 4/2;
  }

  .home-section-2-box {
    width: 100%;
    padding-right: 0;
  }

  .home-section-3-box {
    width: 100%;
    padding-left: 0;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 100%;
  }

  .home-section-3-care-products {
    width: 100%;
  }

  .home-section-2-box a {
    color: var(--mediumgreen);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-link:hover {
    color: var(--mediumgreen);
    transform: scale(1);
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .home-section-2-cards {
    margin: 1rem;
    padding-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .home-banner-container h1 {
    font-size: 2.4rem;
  }
  .home-banner-container p {
    font-size: 1.2rem;
  }

  .home-banner-button {
    font-size: 0.7rem;
  }

  .home-section-3-box {
    width: 65%;
    padding-left: 2rem;
  }
  .home-section-2-img,
  .home-section-3-img {
    width: 35%;
  }

  .home-section-2-box a {
    color: var(--lightgreen);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .home-section-2-box h4,
  .home-section-3-box h4 {
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
  }

  .home-section-2-box p,
  .home-section-3-box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .home-section-2-cards {
    margin: 1rem;
    padding-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .home-banner-container h1 {
    font-size: 2.7rem;
  }

  .home-banner-container p {
    font-size: 1.4rem;
  }

  .home-banner-button {
    font-size: 0.9rem;
  }

  .home-section-2-box {
    width: 65%;
    padding-right: 2rem;
  }

  .home-section-3-box {
    width: 65%;
    padding-left: 2rem;
  }

  .home-section-2-img,
  .home-section-3-img {
    width: 35%;
  }
}

.happiness {
  margin-top: -1.3rem;
}

.section-2-cards {
  flex: 1;
  margin: 1rem;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
}

.card-title {
  position: relative;
  bottom: 70%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.button-see-all {
  position: relative;
  bottom: 30%;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: 9rem;
}
