.navbar-anchor i {
  color: var(--darkgreen);
  font-size: 1.4rem;
}
.navbar-text {
  color: var(--darkgreen);
  font-family: "Galadali";
  font-size: 20px;
}
.navbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
