.product-list-container {
  padding: 0;
}

.filter-container,
.filter-results {
  display: flex;
  justify-content: end;
}

.filter-container {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: white;
  z-index: 10;
}

.btn-filter,
.select-filter {
  height: 30px;
  font-family: "Proxima Nova Regular";
  border: 1px solid var(--darkgreen);
  border-radius: 3px;
  color: var(--darkgreen);
  background-color: white;
}

.product-list {
  font-family: "Proxima Nova Regular";
  font-size: 1.2rem;
  color: var(--darkgreen);
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.product-item-img {
  position: relative;
  display: inline-block;
}
.product-item img {
  max-width: 100%;
  height: auto;
}

.fav-budget {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-buttons {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}

.btn-more,
.btn-buy {
  font-family: "Proxima Nova Regular";
  font-size: 1rem;
  width: 75%;
  height: 30px;
  border: 1px solid var(--darkgreen);
  border-radius: 3px;
}

.btn-more {
  border: 1px solid var(--darkgreen);
  border-radius: 3px;
  color: var(--darkgreen);
  background-color: white;
  margin-inline-end: 5px;
}
.btn-more:hover {
  color: white;
  background-color: var(--darkgreen);
}

.btn-buy {
  color: white;
  background-color: var(--darkgreen);
}
.btn-buy:hover {
  color: var(--darkgreen);
  background-color: white;
}

@media (max-width: 576px) {
  .product-list-container {
    padding: 10px;
  }
  .product-item {
    width: 100%;
  }

  .select-filter,
  .btn-filter {
    width: calc(50% - 4px);
  }
  .product-list-filter,
  .filter-results {
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .filter-container,
  .filter-results {
    justify-content: center;
    width: 100%;
  }

  .product-item {
    width: calc(50% - 10px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .filter-container,
  .filter-results {
    justify-content: center;
  }
  .product-item {
    width: calc(33.33% - 10px);
  }
}

@media (min-width: 992px) {
}
